localizacionesrest.zip_expanded/localizacionesrest/target/classes/localizacionesrest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" database="transiap" doc:name="MySQL Configuration"/>
	<apikit:config name="Router" raml="TransIAP.raml" consoleEnabled="false" consolePath="console" keepRamlBaseUri="false" doc:name="Router"/>
	<apikit:config name="Router1" raml="TransIAP.raml" consoleEnabled="true" consolePath="console" keepRamlBaseUri="false" doc:name="Router"/>
	<apikit:config name="Router2" raml="TransIAP.raml" consoleEnabled="false" consolePath="console" keepRamlBaseUri="false" doc:name="Router"/>
	<http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<http:listener-config name="HTTP_Listener_Configuration2" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="GET_ContenedoresNaviera">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/contenedores" allowedMethods="GET" doc:name="HTTP"/>
		<set-variable variableName="Contenedores" value="#[message.inboundProperties.accept]" doc:name="Variable"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT * FROM `compañia_naviera`]]></db:parameterized-query>
        </db:select>
		<choice doc:name="Choice">
			<when expression="#[flowVars.Contenedores=='application/json']">
				<json:object-to-json-transformer doc:name="Object to JSON"/>
			</when>
			<otherwise>
				<dw:transform-message doc:name="Transform Message" metadata:id="f74b1362-a754-4c1d-bcf5-bfc8639d342e">
					<dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	contenedores: {
		(payload map ((payload01 , indexOfPayload01) -> {
			contenedor: {
				id: payload01.id,
				nombre: payload01.nombre,
				codigo_pais: payload01.codigo_pais
			}
		}))
	}
}]]></dw:set-payload>
				</dw:transform-message>
			</otherwise>
		</choice>
    </flow>
</mule>
