sistemacontabilidad_capaintegracion/target/classes/sistemacontabilidad_capaintegracion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
	<db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" database="contabilidadbd" doc:name="MySQL Configuration"/>
	<db:mysql-config name="MySQL_Configuration1" host="localhost" port="3306" user="root" database="contabilidadbd" doc:name="MySQL Configuration"/>
	<http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
	<http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
	<http:listener-config name="HTTP_Listener_Configuration1" host="/compatibilitat/encomandes" port="8081" doc:name="HTTP Listener Configuration"/>
	<http:request-config name="HTTP_Request_Configuration1" host="IAP-120-2022.dsicv.upv.es" port="8081" basePath="comptabilitat" doc:name="HTTP Request Configuration"/>
	<flow name="RecepcionAltaClientesCSV">
		<file:inbound-endpoint path="C:\Users\Antonio\Downloads\DESCARGAS\UNIVERSIDAD\IAP\TEORIA\SMART FACTORY\ejercicio\clientes" moveToPattern="#[message.id].csv" moveToDirectory="C:\Users\Antonio\Downloads\DESCARGAS\UNIVERSIDAD\IAP\TEORIA\SMART FACTORY\ejercicio\clientes\procesados" connector-ref="File" responseTimeout="10000" doc:name="Monitor Alta Clientes CSV">
			<file:filename-regex-filter pattern=".+\.csv" caseSensitive="true"/>
		</file:inbound-endpoint>
		<file:file-to-string-transformer doc:name="File to String"/>
		<expression-transformer expression="#[message.payload.split(&quot;;&quot;)]" doc:name="Separar cambos por &quot;;&quot;"/>
		<db:insert config-ref="MySQL_Configuration" doc:name="Insertar nuevo cliente en BD">
			<db:parameterized-query><![CDATA[INSERT INTO `clientes`(`id`, `cif`, `razon_social`, `email`) VALUES (#[payload[0]], #[payload[1]], #[payload[2]])]]></db:parameterized-query>
		</db:insert>
	</flow>
	<flow name="SistemaContabilidad">
		<file:inbound-endpoint path="C:\Users\Antonio\Downloads\DESCARGAS\UNIVERSIDAD\IAP\TEORIA\SMART FACTORY\ejercicio\clientes\inbox" moveToDirectory="C:\Users\Antonio\Downloads\DESCARGAS\UNIVERSIDAD\IAP\TEORIA\SMART FACTORY\ejercicio\clientes\procesados" connector-ref="File" responseTimeout="10000" doc:name="File">
			<file:filename-regex-filter pattern=".+\.csv" caseSensitive="true"/>
		</file:inbound-endpoint>
		<file:file-to-string-transformer doc:name="File to String"/>
		<dw:transform-message doc:name="D_AltaCliente_CSV a D_AltaCliente_MAP" metadata:id="2f73867c-ed31-475b-b273-9482dfeb8a31">
			<dw:input-payload mimeType="application/csv">
			</dw:input-payload>
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{ 
	cif: payload.column_0,
	razon_social: payload.column_1,
	email: payload.column_2
}]]></dw:set-payload>
		</dw:transform-message>
		<foreach doc:name="For Each">
			<db:insert config-ref="MySQL_Configuration" doc:name="Insertar nuevo cliente en BD">
				<db:parameterized-query><![CDATA[INSERT INTO `clientes`(`id`, `cif`, `razon_social`, `email`) VALUES (#[payload.cif], #[payload.razon_social], #[payload.email])]]></db:parameterized-query>
			</db:insert>
		</foreach>
	</flow>
	<flow name="sistemacontabilidad_capaintegracionFlow">
		<file:inbound-endpoint responseTimeout="10000" doc:name="File" path="C:\Users\Antonio\Downloads\DESCARGAS\UNIVERSIDAD\IAP\TEORIA\SMART FACTORY\ejercicio\clientes\inbox">
			<file:filename-regex-filter pattern=".+\.csv" caseSensitive="true"/>
		</file:inbound-endpoint>
		<file:file-to-string-transformer doc:name="File to String"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
}]]></dw:set-payload>
		</dw:transform-message>
		<collection-splitter doc:name="Collection Splitter"/>
		<set-variable variableName="uds" value="#[payload.unidades]" doc:name="Unidades"/>
		<set-variable variableName="prod" value="#[payload.producto]" doc:name="Producto"/>
		<db:select config-ref="MySQL_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[SELECT 'id' FROM `clientes` WHERE `cif` = #[payload.cif]]]></db:parameterized-query>
		</db:select>
		<db:insert config-ref="MySQL_Configuration1" doc:name="Database">
			<db:parameterized-query><![CDATA[INSERT INTO `pedidos` (`unidades`, `fk_producto`, `fk_cliente`) VALUES (#[flowVars.uds],#[flowVars.producto],#[flowVars.id], )]]></db:parameterized-query>
		</db:insert>
	</flow>
	<flow name="Flujo1EnviarOrdenesFabricacion">
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="5" timeUnit="SECONDS"/>
			<http:request config-ref="HTTP_Request_Configuration1" path="/encomandes" method="GET" doc:name="Obtener OF"/>
		</poll>
		<echo-component doc:name="Echo"/>
	</flow>
</mule>
